.signup-container {
    background-color: #a9473e;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: 300px;
    text-align: center;
    margin: 100px 570px;
}

.signup-container h2 {
    color: #1E1E1E;
}
