
<head>
  <link rel="stylesheet" href="../static/style/dashboard.css?{% now "U" %}">
  <script src="https://kit.fontawesome.com/ddfdcacb4c.js" crossorigin="anonymous"></script>
</head>
<body>
  <div class="dashboard_container">
    <div id="sidebar">
      <div class="top_icons">
          <div class="icon">
              <i class="fa-solid fa-plus"></i>
            </div>
            <div class="icon">
              <i class="fa-solid fa-upload"></i>
            </div>
            <div class="icon">
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
      </div>
      <div class="bot_icons">
          <div class="icon">
              <i class="fa-solid fa-user"></i>
            </div>
            <div class="icon">
              <i class="fa-regular fa-bell"></i>
            </div>
            <div class="icon">
              <i class="fa-solid fa-question"></i>
            </div>
            
      </div>
      
    </div>
    <div class="dashboard_content">
      <div class="project_card">
        <div class="project_details">
          <h1>LILBET</h1>
        </div>

      </div>
  
      <!-- Add more project cards as needed -->
  
    </div>
  </div>
  </div>
    <!-- Your main content goes here -->
    <div style="margin-left: 80px; padding: 20px;">
      <!-- Your main content goes here -->
    </div>
  
</body>

