<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/style/globals.css" />
    <link rel="stylesheet" href="../static/style/styleguide.css" />
    <link rel="stylesheet" href="../static/style/style1.css" />
  </head>
  <body>
    <div class="desktop">
      <div class="div">
        <div class="rectangle"></div>
        <div class="rectangle-2"></div>
        <div class="side-bar">
          <div class="upload-source-code"><img class="upload" src="static/img/upload.svg" /></div>
          <div class="notifications-button">
            <div class="overlap-group"><div class="red-dot"></div></div>
          </div>
          <div class="help-button"><img class="help-circle" src="static/img/help-circle.svg" /></div>
          <div class="add-project-button"><img class="plus" src="../static/img/plus.svg" /></div>
          <div class="search-project"><img class="search" src="../static/img/search.svg" /></div>
          <div class="profile">
            <div class="element-images-avatar"><img class="intersect" src="../static/img/intersect.svg" /></div>
            <div class="text-wrapper">Ahmed</div>
          </div>
        </div>
        <div class="overlap">
          <div class="rectangle-3"></div>
          <div class="rectangle-4"></div>
        </div>
        <div class="projects-section">
          <div class="overlap-2">
            <div class="backgroung"></div>
            <div class="project">
              <div class="overlap-3">
                <div class="scan-now-button">
                  <div class="div-wrapper"><div class="text-wrapper-2">Scan Now</div></div>
                </div>
                <div class="settings-button"><img class="settings" src="../static/img/settings-3.svg" /></div>
                <div class="repo-info">
                  <p class="p"><span class="span">: </span> <span class="text-wrapper-3">ahmed-tabib/gosnake</span></p>
                  <img class="img" src="../static/img/github-3.svg" />
                </div>
                <div class="last-scan-info">
                  <div class="overlap-4">
                    <p class="last-scanned-nov">
                      <span class="text-wrapper-4">: </span>
                      <span class="text-wrapper-5">last scanned Nov 23rd 2023</span>
                    </p>
                    <img class="img" src="../static/img/activity.svg" />
                  </div>
                </div>
                <div class="commit-info">
                  <p class="commit">
                    <span class="span">: commit </span>
                    <span class="text-wrapper-3">78f654fe</span>
                    <span class="span"> scanned</span>
                  </p>
                  <img class="check-circle" src="../static/img/check-circle.svg" />
                  <img class="img" src="../static/img/git-commit.svg" />
                </div>
                <div class="historic-vulns">
                  <p class="element-vulnerabilities">
                    <span class="text-wrapper-6">9</span>
                    <span class="text-wrapper-7">&nbsp;</span>
                    <span class="text-wrapper-8">vulnerabilities found since first scan</span>
                  </p>
                  <div class="text-wrapper-9">:</div>
                  <img class="shield-off" src="../static/img/shield-off-4.svg" />
                </div>
                <div class="action-section">
                  <div class="overlap-5">
                    <div class="text-wrapper-10">No action needed</div>
                    <div class="text-wrapper-11">No Vulnerabilities Detected!</div>
                  </div>
                </div>
                <div class="text-wrapper-12">GoSnake</div>
              </div>
            </div>
            <div class="overlap-wrapper">
              <div class="overlap-3">
                <div class="scan-now-button">
                  <div class="div-wrapper"><div class="text-wrapper-2">Scan Now</div></div>
                </div>
                <div class="settings-button"><img class="settings" src="../static/img/settings-2.svg" /></div>
                <div class="repo-info-2">
                  <p class="p"><span class="span">: </span> <span class="text-wrapper-3">lilkandra/lilbet-web</span></p>
                  <img class="img" src="../static/img/github-2.svg" />
                </div>
                <div class="overlap-group-wrapper">
                  <div class="overlap-6">
                    <p class="last-scanned-nov">
                      <span class="text-wrapper-4">: </span>
                      <span class="text-wrapper-5">last scanned Nov 15th 2023</span>
                    </p>
                    <img class="img" src="../static/img/activity.svg" />
                  </div>
                </div>
                <div class="commit-info-2">
                  <p class="commit">
                    <span class="span">: commit </span>
                    <span class="text-wrapper-3">45dfa5c8</span>
                    <span class="span"> scanned</span>
                  </p>
                  <img class="check-circle-2" src="../static/img/check-circle.svg" />
                  <img class="img" src="../static/img/git-commit-2.svg" />
                </div>
                <div class="historic-vulns-2">
                  <p class="element-vulnerabilities">
                    <span class="text-wrapper-6">0</span>
                    <span class="text-wrapper-7">&nbsp;</span>
                    <span class="text-wrapper-8">vulnerabilities found since first scan</span>
                  </p>
                  <div class="text-wrapper-9">:</div>
                  <img class="shield-off" src="../static/img/shield-off-3.svg" />
                </div>
                <div class="action-section">
                  <div class="overlap-5">
                    <div class="text-wrapper-10">No action needed</div>
                    <div class="text-wrapper-11">No Vulnerabilities Detected!</div>
                  </div>
                </div>
                <div class="text-wrapper-13">LilBet</div>
              </div>
            </div>
            <div class="project-2">
              <div class="overlap-3">
                <div class="scan-now-button">
                  <div class="div-wrapper"><div class="text-wrapper-2">Scan Now</div></div>
                </div>
                <div class="settings-button"><img class="settings" src="../static/img/settings-1.svg" /></div>
                <div class="repo-info">
                  <p class="p"><span class="span">: </span> <span class="text-wrapper-3">ahmed-tabib/gosnake</span></p>
                  <img class="img" src="../static/img/github-1.svg" />
                </div>
                <div class="last-scan-info">
                  <div class="overlap-4">
                    <p class="last-scanned-nov">
                      <span class="text-wrapper-4">: </span>
                      <span class="text-wrapper-5">last scanned Nov 23rd 2023</span>
                    </p>
                    <img class="img" src="../static/img/activity.svg" />
                  </div>
                </div>
                <div class="commit-info">
                  <p class="commit">
                    <span class="span">: commit </span>
                    <span class="text-wrapper-3">78f654fe</span>
                    <span class="span"> scanned</span>
                  </p>
                  <img class="check-circle" src="../static/img/check-circle.svg" />
                  <img class="img" src="../static/img/git-commit.svg" />
                </div>
                <div class="historic-vulns">
                  <p class="element-vulnerabilities">
                    <span class="text-wrapper-6">9</span>
                    <span class="text-wrapper-7">&nbsp;</span>
                    <span class="text-wrapper-8">vulnerabilities found since first scan</span>
                  </p>
                  <div class="text-wrapper-9">:</div>
                  <img class="shield-off" src="../static/img/shield-off-2.svg" />
                </div>
                <div class="action-section">
                  <div class="overlap-5">
                    <div class="text-wrapper-10">No action needed</div>
                    <div class="text-wrapper-11">No Vulnerabilities Detected!</div>
                  </div>
                </div>
                <div class="text-wrapper-12">GoSnake</div>
              </div>
            </div>
            <div class="project-3">
              <div class="overlap-3">
                <div class="scan-now-button">
                  <div class="div-wrapper"><div class="text-wrapper-2">Scan Now</div></div>
                </div>
                <div class="settings-button"><img class="settings" src="../static/img/settings.svg" /></div>
                <div class="repo-info">
                  <p class="p"><span class="span">: </span> <span class="text-wrapper-3">ahmed-tabib/gosnake</span></p>
                  <img class="img" src="../static/img/github.svg" />
                </div>
                <div class="last-scan-info">
                  <div class="overlap-4">
                    <p class="last-scanned-nov">
                      <span class="text-wrapper-4">: </span>
                      <span class="text-wrapper-5">last scanned Nov 23rd 2023</span>
                    </p>
                    <img class="img" src="../static/img/activity.svg" />
                  </div>
                </div>
                <div class="commit-info">
                  <p class="commit">
                    <span class="span">: commit </span>
                    <span class="text-wrapper-3">78f654fe</span>
                    <span class="span"> scanned</span>
                  </p>
                  <img class="check-circle" src="../static/img/check-circle.svg" />
                  <img class="img" src="../static/img/git-commit.svg" />
                </div>
                <div class="historic-vulns">
                  <p class="element-vulnerabilities">
                    <span class="text-wrapper-6">9</span>
                    <span class="text-wrapper-7">&nbsp;</span>
                    <span class="text-wrapper-8">vulnerabilities found since first scan</span>
                  </p>
                  <div class="text-wrapper-9">:</div>
                  <img class="shield-off" src="../static/img/shield-off-1.svg" />
                </div>
                <div class="action-section">
                  <div class="overlap-5">
                    <div class="text-wrapper-10">No action needed</div>
                    <div class="text-wrapper-11">No Vulnerabilities Detected!</div>
                  </div>
                </div>
                <div class="text-wrapper-12">GoSnake</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
